body{
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 1em;
	min-width: 320px;
}

footer{
	padding-top: 20px;
	opacity: 0.6;
	text-align: center;
}

.content-section a{
	color: #666666;
	font-weight: bold;
}

.content-section a:hover{
	color: black;
}

.outer-container{
}

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.logo-container{
	height: 300px;
	overflow: hidden;
	margin: 10px 0;
}

.logo-container-small{
	margin: 10px 0;
}

#logo-link{
	z-index: 20;
	position: relative;
}

.transformed-text-container{
	width: 1200px;
	opacity: 0.1;
	font-size: 4em;
	overflow: hidden;
	line-height: 0.8em;
	text-transform: uppercase;
	word-break: break-all;
	text-align: justify;
	transform: rotate(-30deg);
	transform-origin: -600px 100px;
	word-spacing: -10px;
	transition: all 3s;
	cursor: default;
	animation: moving_text 4s linear 0s infinite alternate;
	animation-play-state: paused;
}

.transformed-text-container:hover{
	animation-play-state: running;
}

@keyframes moving_text{
	from {
		width: 1200px;
	}

	to{
		width: 1600px;
	}
}

.logo{
	width: 100%;
	max-width: 320px;
}

.logo-container a, .logo-container-small a{
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
}

.fitness-app{
	width: 28%;
	padding: 1%;
	margin: 1%;
	float: left;
	text-align: center;
}

.top-navigation{
	list-style: none;
	width: 100%;
	background-color: #333333;
	margin: 0;
}

.top-navigation li{
	margin: 0;
	width: 25%;
	display: inline-block;
}

.top-navigation li a{
	display: block;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 1.25em;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

.top-navigation li a:hover{
	color: #AAAAAA;
}

.arrow-down {
	width: 0;
	height: 0;
	position: relative;
	left: 50%;
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	border-top: 15px solid #333333;
}

#tutoring img{
	width: 100%;
	max-width: 600px;
}

.hidden{
	display: none;
}

.content-section{
	width: 80%;
	margin: 0 auto;
	font-size: 1.1em;
	font-weight: lighter;
}

.content-section strong{
	font-weight: bold;
}

.current-section{
	display: block;
}

.gallery{
	max-width: 1024px;
	margin: 0 auto;
}

.gallery div{
	display: inline-block;
	width: 24%;
	margin: 0 auto;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

.gallery img{
	margin: 0;
	width: 100%;
	opacity: 0.8;
}

.gallery img:hover{
	opacity: 1;
}

.app-link img{
	max-width: 200px;
	margin: 0 auto;
}

.text-center{
	text-align: center;
}

/* Program Picker and Lift Fixer */

.choice-container{
	list-style: none;
}

.choice-container li{
	font-size: 1.5em;
	text-align: center;
	padding: 10px 0;
}

.choice-container a{
	color: #0C5DA5;
}

.tree-container{
	border-top: 1px #333333 solid;
}

.stack-piece{
	text-align: center;
}

.stack-piece a{
	text-decoration: none;
}

.answer-container{
	text-align: justify;
}

.stack-container .arrow-down{
	position: static;
	margin: 5px auto 2px auto;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 11px solid #333333;
}

.clear{
	clear: both;
}

/* Portfolio */

.portfolio-item{
	width: 90%;
	margin: 0 auto;
	opacity: 0.75;
	padding: 20px 20px 0 20px;
	border-bottom: 1px #AAA dashed;
	transition: all 0.7s;
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
}

.portfolio-item:last-child{
	border-bottom: none;
}

.portfolio-item:hover{
	opacity: 1;
}

.portfolio-item a{
	width: 15%;
	float: left;
}

.portfolio-item img{
	border: 1px #999 solid;
	margin: 20px;
	width: 100%;
}

.portfolio-item-details{
	width: 80%;
	margin-left: 4%;
	float: left;
}

.portfolio-item-details p:first-child{
	padding-top: 40px;
}

.portfolio-item-details p{
	margin-left: 20px;
	margin-right: 20px;
}



@media handheld, only screen and (max-width: 960px) {
	.portfolio-item a{
		width: 25%;
	}

	.portfolio-item-details{
		width: 70%;
	}
}

@media handheld, only screen and (max-width: 800px) {
	.gallery div{
		width: 32%;
	}

	.fitness-app{
		width: 60%;
		float: none;
		margin: 0 auto;
	}

	.portfolio-item a{
		width: 35%;
	}

	.portfolio-item-details{
		width: 60%;
	}

}

@media handheld, only screen and (max-width: 640px) {
	.portfolio-item a{
		width: 175px;
		display: block;
		margin: 0 auto;
		float: none;
	}

	.portfolio-item img{
		width: 175px;
		margin: 0;
	}

	.portfolio-item-details{
		width: 100%;
	}

	.portfolio-item-details p{
		margin-left: 0;
		margin-right: 0;
	}
}


@media handheld, only screen and (max-width: 480px) {

	header .arrow-down{
		display: none !important;
	}

	.gallery h1{
		font-size: 1.5em;
	}

	.gallery div{
		width: 49%;
	}

	.top-navigation li{
		width: 100%;
		display: block;
	}

	.top-navigation li:hover a:before{
		content: "[";
		padding-right: 5px;
	}

	.top-navigation li:hover a:after{
		content: "]";
		padding-left: 5px;
	}

	.fitness-app{
		width: 100%;
		float: none;
		margin: 0 auto;
	}

}